pipeline/pl_copy_upload_prem_tables.json
{
	"name": "pl_copy_upload_prem_tables",
	"properties": {
		"activities": [
			{
				"name": "lkup_get_table_list",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "  select * from INFORMATION_SCHEMA.TABLES where TABLE_TYPE = 'BASE TABLE' and table_name like 'p%'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsOnPremAdventureworkoltpDBTableList",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkup_get_table_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkup_get_table_list').output.count",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}